body{ 
    padding:0;
    margin:auto;
    background-color:#F1BBD5;
    background-image: url("images.html/Moisturizer.webp");
    /* background-position: center;  */
    background-repeat: no-repeat;
    /* background-size: cover; */
    /* position: relative; */
    padding:0px;
  background-size: auto;
}

/* css- Start of navigation menu */
.navigationbar{
    height:55px;
    width:100%;
    /* width:1250px; */
    overflow:hidden;
    background-color:#5F1854;
    justify-content: space-between;
    display: flex;
    margin-right: 0px;
}
.navigationbar a{
    float:left; /*The float CSS property places an element on the left or right side of its container, 
                                 allowing text and inline elements to wrap around it. */
    font-size:15px;
    color:white;
    text-align:center;
    padding:15px;
    font-family:'Times New Roman', Times, serif;
    text-decoration: none;
}


a:hover{color:#DACC96;
}
.navigationbar input:hover {
    background-color:#5F1854;
    color:white;
}
/* css- End of navigation menu */
p{
    font-size: x-large;
    font-weight: 700;
    text-align: center;
    padding-top: 50px;
}